body {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(40, 101, 214);
}

/* @font-face {
    font-family: Spectral;
    src: url('downloads/spectral/spectral-regular.ttf');
  } */

#headerStyle.fix {
    font-size: 40px;
    color: rgb(5, 24, 48);
    border: black;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    background-color: white;
    margin-left: 65px;
    /* padding: 20px; */
    height: 120px;
    width: 64%;
    margin-top: 50px;
    border-radius: 15px;
    justify-content: center;
    margin-bottom: 50px;
    font-family: Spectral;
}

.fix {
    justify-content: center;
    margin-top: 1px;
}

#listItem {
    margin: 20px 25px;
    border: black;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    width: 63%;
    font-family: Spectral;

}

#pic {
    width: 400px;
    height: auto;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}