h1 {
    color: black;
}

#tasksUL {
    padding: 20px;

}

#tasksCompletedUL {
    padding: 10px;

}

body {
    margin: 40px;
    background-color: lightgray;
}

button {
    margin: 10px;
}

li label {
    margin: 10px;
    text-decoration: none;
}